/*
 * Author: Krzysztof Dobrzynski
 * URL: https://sejoslaw.github.io/
 * 
 */

/* Steam Image */
.fixed-ratio-resize {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* Counter */
.counter {
	display: block;
	background: #1a1e23;
	padding: 36px 0;
	color: #fff;
}

/* Google Map */
.location-map {
    padding: 4px;
    border-bottom: 3px double #eee;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Footer */
.footer-wrapper {
	display: block;
    background: #1a1e23;
    padding: 36px 0;
    color: #fff;
}

textarea {
    resize: none;
    text-align: justify;
    white-space: pre-line;
    -moz-text-align-last: left;
    text-align-last: left;
}