<div>
    <nav class="navbar navbar-expand-lg sticky-top navbar-customs navbar-dark">
        <a class="navbar-brand" href="https://sejoslaw.github.io/">Sejoslaw.github.io</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/repos" routerLinkActive="active">Repositories</a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>