<mat-sidenav-container class="seia-sidenav-container" [class.dark-theme]="useDarkTheme">
    <mat-sidenav #sidenav [mode]="isSmallScreen() ? 'over' : 'side'" [opened]="!isSmallScreen()" class="mat-elevation-z10">
        <mat-toolbar color="primary">
            Sejoslaw.github.io
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item *ngFor='let button of navbarButtons' routerLink="{{ button.routerPath }}" (click)="navbarButtonClicked(sidenav)">
                <mat-icon>{{ button.icon }}</mat-icon> {{ button.buttonText }}
            </mat-list-item>
            <mat-list-item>
                <a href="https://github.com/Sejoslaw/Sejoslaw.github.io">
                    <mat-icon>dashboard</mat-icon> Website Sources
                </a>
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <seia-toolbar (toggleSidenav)="sidenav.toggle()" (toggleDarkTheme)="toggleDarkTheme()"></seia-toolbar>

        <div class="site-content-wrapper">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>