.header-clip {
    margin-bottom: 4%;
}

.navbar-customs {
    background-color: black !important;
}

nav a {
    color: red !important;
}

nav a:hover {
    color: yellow !important;
}

nav li a {
    color: white !important;
}

.break-text {
    word-wrap: break-word;
}